<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title>scope</title>
    <script src="../bower_components/angular/angular.js"></script>
</head>
<body>
<div class="controller" ng-controller="Controller">
    <input type="text" ng-model="name" placeholder="please input words" value="" id=""/>{{name}}
</div>
<div class="controller" ng-controller="Controller">
    <input type="text" ng-model="name" placeholder="please input words" value="" id=""/>{{name}}
</div>
<div class="container">
    <p>{{subject}}</p>
</div>
<script>
    var module = angular.module('App', []);
    module.controller('Controller', function($rootScope, $scope){
        var count = 0;
        var prefix = 'Learn-Angular';
        $rootScope.subject = prefix;
        $scope.name = 'hello';
        $scope.$watch('name', function(){
            $rootScope.subject = prefix + count;
            count++;
        })
    });
</script>
</body>
</html>